spring:
  application:
    name: green2nd
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/mh?useSSL=false&allowPublicKeyRetrieval=true&characterEncoding=UTF-8&serverTimezone=UTC
    username: root
    password: 1234

  mail:
    host: smtp.gmail.com
    port: 587
    username: goyangi9876@gmail.com # 앱 비밀번호 발급받은 google 계정
    password: kwde qyik rqop qvue # 발급받은 앱 비밀번호 (16자리 입니다.) -> 복붙
    properties:
      mail:
        smtp:
          starttls:
            enable: true
          auth: true


#  mail:
#    host: smtp.gmail.com
#    port: 587
#    username: goyangi9876@gmail.com
#    password: goyangi123
#    properties:
#      mail:
#        smtp:
#          auth: true
#          starttls:
#            enable: true
#          starttls.required: true
#          connectiontimeout: 5000
#          timeout: 5000
#          writetimeout: 5000
  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQLDialect
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: create
    generate-ddl: true
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      mode: always
#jasypt:
#  encryptor:
#    password: mh1234
jasypt:
  encryptor:
#    bean: jasyptEncryptor
    bean: jasyptStringEncryptor
    password: ${ENCRYPT_KEY}
mh:
  jwt:
    accessToken: mh1234mh1234mh1234mh1234mh1234mh1234mh1234
    refreshToken: mh1234mh1234mh1234mh1234mh1234mh1234mh1234
toss:
    apikey: test_ck_6BYq7GWPVvvw6bWZz20mVNE5vbo1
    secretkey: test_sk_P9BRQmyarYPORJwq5bL2VJ07KzLN
    url: https://api.tosspayments.com/v1/payments
#kakao:
#    restapi:
#      key: 0cf975c17c99981156fd74102e25d6bc
#      code: 5tV9WxlynlrKlOlpFQZlY8tF4uEXblSc